<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Resume</title>
  </head>

  <body>
    <!-- Contact Info -->
    <h1>
      {{resume.contact_info.first_name}} {{resume.contact_info.last_name}}
    </h1>
    <h6>Cell:</h6>
    <p>{{resume.contact_info.phone_number}}</p>
    <h6>Email:</h6>
    <p>{{resume.contact_info.email}}</p>
    <!-- Educations -->
    <h2>Education</h2>
    {% for education in resume.educations %}
    <h4>{{education.school}}</h4>
    <p>{{education.major}}</p>
    <p>{{education.start_date}} - {{education.end_date}}</p>
    <!-- GPA -->
    {% if education.gpa %}
    <p>{{education.gpa}}</p>
    {% endif %}
    <!-- end GPA -->
    {% endfor %}
    <!--Experience-->
    <h2>Experience</h2>
    <h4>{{experience.organization}}</h4>
    <p>{{experience.start_date1}} - {{experience.end_date1}}</p>
    <p>{{experience.responsibilities}}</p>
    <!-- Projects -->
    <h4>Projects</h4>
    {% for project in resume.projects %}
    <p>{{project.name}}</p>
    <p>{{project.responsibilities1}}</p>
    {% endfor %}
    <!-- Skills -->
    <h4>Skills</h4>
    <p>{{skill.skill_name}}</p>
    <!-- Hobby -->
    <h4>Hobbys</h4>
    <p>{{hobby.hobby_name}}</p>
  </body>
</html>
