<!-- Contact Info -->
<h1><span id="first-name">John</span> <span id="last-name">Doe</span></h1>
<h6>Cell: <span id="phone-number">999-999-9999</span></h6>
<h6>Email: <span id="email">email@email.com</span></h6>
<!-- Educations -->
<h2>Education</h2>
<h4><span id="school">Your University</span></h4>
<p><span id="major">Your Major</span></p>
<p>
  <span id="start-date">2020-09-19</span> -
  <span id="end-date">2020-05-21</span>
</p>
<p>GPA <span id="gpa">4.0</span></p>
<!-- Experience -->
<h2>Experience</h2>
<h4><span id="organization">Your Organization</span></h4>
<p>
  <span id="start-date1">2020-09-19</span> -
  <span id="end-date1">2020-05-21</span>
</p>
<p>Responsibilities <span id="responsibilities">Here</span></p>
<!-- Projects -->
<h2>Projects</h2>
<h4><span id="name">Project Name</span></h4>
<p>Responsibilities <span id="responsibilities1">Here</span></p>
<!-- Skill -->
<h2>Skills</h2>
<h4><span id="skill_name">Skill Name</span></h4>
<!-- Hobby -->
<h2>Hobby</h2>
<h4><span id="hobby_name">Hobby Name</span></h4>
