<!-- Contact Info -->
<h1>
  <span id="contact-first-name-lbl">John</span>
  <span id="contact-last-name-lbl">Doe</span>
</h1>
<h6>Cell: <span id="contact-phone-number-lbl">999-999-9999</span></h6>
<h6>Email: <span id="contact-email-lbl">email@email.com</span></h6>
<!-- Educations -->
<h2>Education</h2>
<div>
  <div id="education-lbls-0">
    <h4><span id="education-school-lbl-0">Your University</span></h4>
    <p><span id="education-major-lbl-0">Your Major</span></p>
    <p>
      <span id="education-start-date-lbl-0">2020-09-19</span> -
      <span id="education-end-date-lbl-0">2020-05-21</span>
    </p>
  </div>
</div>

<!-- Experience -->
<h2>Experience</h2>
<div>
  <div id="experience-lbls-0">
    <h4><span id="experience-org-lbl-0">Organization</span></h4>
    <p>
      <span id="experience-start-date-lbl-0">2020-09-19</span> -
      <span id="experience-end-date-lbl-0">2020-05-21</span>
    </p>
  </div>
</div>
<!-- Projects -->
<!-- Skill -->
<!-- Hobby -->
