:root {
  --RF-Red: #ff0000;
}

/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

.simple-resume-font {
  font-family: 'Noto Sans KR', sans-serif;
}



/* Images */
.logo-img{
  height: 5rem;
}

.resume-img {
  height: 30rem;
}


/* Shadow */

.shadow{
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



/* height */

.h-full{
  height: 100%;
}

.page-90{
  height: 90vh;
}


/* width */
.w-full{
  width: 100%;
}

/* Grid classes */
.grid{
  display: grid;
}

.two-cols-small-left-large-right{
  grid-auto-rows: 1fr;
  grid-template-columns: .5fr 1.5fr;
}

.three-cols {
  grid-template-columns: 1fr 1fr 1fr;
}

.gap-0{
  gap: 0;
}

.gap-1{
  gap: .25rem;
}

.gap-2{
  gap: .50rem;
}
.gap-3{
  gap: .75rem;
}
.gap-4{
  gap: 1rem;
}
/* Flex classes */
.flex {
  display: flex;
}

.flex-col{
  flex-direction: column;
}

.justify-center{
  justify-content: center;
}

.justify-around{
  justify-content: space-around;
}

.justify-between{
  justify-content: space-between;
}


.justify-evenly{
  justify-content: space-evenly;
}

.align-center {
  align-items: center;
}

.btn-red-bg {
  background-color: #ff0000;
  color: white;
}

/* padding classes */

p-3{
  padding: .75rem;
}

/* margin classes */

mx-2{
  margin: 0 .5rem;
}

/* font sizes */
.text-sm{
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-lg{
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-xl{
  font-size: 1.25rem;
  line-height: 1.75rem;
}


/* login page */

.login-bg-img{
  background-image: url('../img/pexels-fauxels-3184465.jpg');
  min-height: 90vh;

}
		.user_card {
			width: 350px;
			margin-top: auto;
			margin-bottom: auto;
			background: white;
			position: relative;
			display: flex;
			justify-content: center;
			flex-direction: column;
			padding: 10px;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			border-radius: 5px;

		}

		.form_container {
			margin-top: 20px;
		}

		#form-title{
			color: #000000;

		}

		.login_btn {
			width: 100%;
			color: white !important;
			background-color: var(--RF-Red);
		}
		.login_btn:focus {
			box-shadow: none !important;
			outline: 1px !important;
		}
		.login_container {
			padding: 0 2rem;
		}
		.input-group-text {
			background: var(--RF-Red) !important;
			color: white !important;
			border: 0 !important;
			border-radius: 0.25rem 0 0 0.25rem !important;
		}
		.input_user,
		.input_pass:focus {
			box-shadow: none !important;
			outline: 0px !important;
		}

		#messages{
			background-color: grey;
			color: #fff;
			padding: 10px;
			margin-top: 10px;
    }
    
/* Account */

.account-card {
  height: 15rem;
  width: 20rem;
  background-color: grey;
  border-radius: 1rem;
}

.user-img{
  height: 10rem;
  width: auto;
}