<!DOCTYPE html>
<html>
        <body>
                <h1>Account Information</h1>
                <p>Username:</p>

                <p>Password:   (for now use password)</p>
                <input name="password" required="required" placeholder="Password"  type="password" id="password"/>

                <p>New Password:</p>
                <input name="password" required="required" placeholder="New Password"  type="password" id="new_password" pattern=".{8,}" title="Password must contain eight or more characters"/>

                <p>Confirm Password</p>
                <input name="confirm_password" required="required" placeholder="Confirm Password" type="password" id="confirm_password"  pattern=".{8,}" title="Password must contain eight or more characters"/>

                <br></br>
                <input type = "submit" onclick="checkpass()" value = "Save Changes">
                <script language='javascript' type='text/javascript'>
                

function checkpass(){
    if(document.getElementById('password').value == "password"){
        if(document.getElementById('new_password').value != document.getElementById('confirm_password').value){
            alert("The Passwords Must Match!")
        }

            else{       
                var answer = window.confirm("Are you sure you want to change your password?");
                if (answer){
                    alert("Your password has been changed")
                }
                    
                else{
                    alert("Canceled")
                }
            }
        
    }
 else{
        alert("Incorrect Password!")
    }
}
                </script>
        </body>
</html>



<h1>Saved Resumes</h1>

<p>Select your saved resume from below</p>
<select class="resume" name="resume">
<option value ="Resume 1">Resume 1</option>
<option value ="Resume 2">Resume 2</option>
<option value ="Resume 3">Resume 3</option>
<option value ="Resume 4">Resume 4</option>
<option value ="Resume 5">Resume 5</option>
</select>
<div class="result"></div>
<script>
const selected = document.querySelector('.resume');
selected.addEventListener('change',(event) => {
        const result = document.querySelector('.result');
        result.textContent=event.target.value;
});
</script>

