{% extends 'resume_builder/index.html' %}



{% block content %} {% load static %}

<div class="h-full p-3 grid two-cols-small-left-large-right w-full gap-4">
  <div class="flex flex-col h-full">
    <div class=" p-3 shadow flex flex-col justify-center align-center">
      <h3>Account Information</h3>
      <div class="">
        <img src="../../../static/img/user1.svg" alt="default user image" srcset="" class="user-img">
      </div>
      <p>Username: {{request.user}} </p>
    <div class="p-3">
      <h3>Resumes</h3

      <p>Select your saved resume from below</p>
      <select class="resume" name="resume">
      <option value ="Resume 1">Resume 1</option>
      <option value ="Resume 2">Resume 2</option>
      <option value ="Resume 3">Resume 3</option>
      <option value ="Resume 4">Resume 4</option>
      <option value ="Resume 5">Resume 5</option>
      </select>
    </div>
    </div>
  </div>
  <div class="result shadow p-3">
    <h3>Resume Viewer</h3>
  </div>
</div>


<script>
const selected = document.querySelector('.resume');
selected.addEventListener('change',(event) => {
        const result = document.querySelector('.result');
        result.textContent=event.target.value;
});
</script>

  
     
{% endblock  %}












