{% extends 'resume_builder/index.html' %}
{% block content %} {% load static %}
<div class="container-fluid flex flex-col justify-around align-center page-90">
    <h1 ><strong>CHOOSE YOUR <span style="color: #ff0000;">RESUME TEMPLATE</span></strong></h1> 
    <div class="grid three-cols w-full gap-4">
        <div class="flex flex-col justify-center p-3">
            <h1>Simple</h1>
            <img src="../../../static/img/Resume-Template-Simple-723x1024.png" alt="" srcset="" class="resume-img">
        <a href="{% url 'resume_form' %}" class=" btn btn-red-bg">Select Template</a>
        </div>
        <div class="flex flex-col justify-center p-3">
            <h1>Rad</h1>

            <img src="../../../static/img/Resume-Template-Rad-723x1024.png" alt="" srcset="" class="resume-img">
        <a href="{% url 'resume_form' %}" class=" btn btn-red-bg">Select Template</a>   
        </div>  
        <div class="flex flex-col justify-center p-3" >
            <h1>Profesh</h1>

        <img src="../../../static/img/Resume-Template-Profesh-723x1024.png" alt="" srcset="" class="resume-img">
        <a href="{% url 'resume_form' %}" class=" btn btn-red-bg">Select Template</a>   
        </div>
    </div> 

{% endblock  %}