{% extends 'resume_builder/index.html' %}
<!---->
{% block content %} {% load static %} {% load crispy_forms_tags %}

<div class="container-fluid" style="max-width: 1440px">
  <div class="row">
    <div class="col-6">
      <h1>Enter Info</h1>
      <hr />
      <form id="resume-form">
        {% csrf_token %}
        <!-- Contact Info -->
        <div id="contact-info">
          <h4>Contact Info</h4>
          <!-- First Name -->
          <div class="form-group">
            <label for="contact-first-name-input">First Name</label>
            <input
              type="text"
              class="form-control"
              id="contact-first-name-input"
              placeholder="Enter first name"
              name="contact-first-name"
            />
          </div>
          <!-- Last Name -->
          <div class="form-group">
            <label for="contact-last-name-input">Last Name</label>
            <input
              type="text"
              class="form-control"
              id="contact-last-name-input"
              name="contact-last-name"
              placeholder="Enter last name"
            />
          </div>
          <!-- Phone Number -->
          <div class="form-group">
            <label for="contact-phone-number-input">Phone Number</label>
            <input
              type="text"
              class="form-control"
              id="contact-phone-number-input"
              name="contact-phone-number"
              placeholder="Enter phone number"
            />
          </div>
          <!-- Email -->
          <div class="form-group">
            <label for="contact-email-input">Email</label>
            <input
              type="text"
              class="form-control"
              id="contact-email-input"
              name="contact-email"
              placeholder="Enter email"
            />
          </div>
          <!-- Next Button -->
          <button
            class="btn btn-outline-danger btn-block"
            id="contact-next-btn"
          >
            Next
          </button>
        </div>
        <!-- End Contact Info -->
        <!-- Education -->
        <div class="d-none" id="education">
          <div>
            <div id="education-form-0">
              <h4>Education</h4>
              <!-- School Name -->
              <div class="form-group">
                <label for="education-school-input-0">School</label>
                <input
                  type="text"
                  class="form-control"
                  id="education-school-input-0"
                  name="education-school-0"
                  placeholder="Enter school name"
                />
              </div>
              <!-- Major -->
              <div class="form-group">
                <label for="education-major-input-0">Major</label>
                <input
                  type="text"
                  class="form-control"
                  id="education-major-input-0"
                  name="education-major-0"
                  placeholder="Enter major"
                />
              </div>
              <!-- Start Date -->
              <div class="form-group">
                <label for="education-start-date-input-0">Start Date</label>
                <input
                  type="text"
                  class="form-control"
                  id="education-start-date-input-0"
                  name="education-start-date-0"
                  placeholder="Enter start date (YYYY-MM-DD)"
                />
              </div>
              <!-- End Date -->
              <div class="form-group">
                <label for="education-end-date-input-0">End Date</label>
                <input
                  type="text"
                  class="form-control"
                  id="education-end-date-input-0"
                  name="education-end-date-0"
                  placeholder="Enter end date (YYYY-MM-DD)"
                />
              </div>
            </div>
          </div>
          <!-- Add Education Button -->
          <div class="d-flex justify-content-end mb-4">
          <button id="remove-education-btn" class="btn btn-danger btn-sm mr-4">
            <i class="fas fa-minus"></i> Remove Education
          </button>
            <button id="add-education-btn" class="btn btn-warning btn-sm">
              <i class="fas fa-plus"></i> Add Education
            </button>
          </div>
          <!-- Navigation Buttons -->
          <button
            class="btn btn-outline-danger btn-block"
            id="education-back-btn"
          >
            Back
          </button>
          <button
            class="btn btn-outline-danger btn-block"
            id="education-next-btn"
          >
            Next
          </button>
        </div>
        <!-- End Education -->
        <!-- Experience -->
        <div class="d-none" id="experience">
          <div>
            <div id="experience-form-0">
              <h4>Experience</h4>
              <!-- Organization Name -->
              <div class="form-group">
                <label for="experience-org-input-0">Organization</label>
                <input
                  type="text"
                  class="form-control"
                  id="experience-org-input-0"
                  name="experience-org-0"
                  placeholder="Enter organization name"
                />
              </div>
              <!-- Start Date -->
              <div class="form-group">
                <label for="experience-start-date-input-0">Start Date</label>
                <input
                  type="text"
                  class="form-control"
                  id="experience-start-date-input-0"
                  name="experience-start-date-0"
                  placeholder="Enter start date (YYYY-MM-DD)"
                />
              </div>
              <!-- End Date -->
              <div class="form-group">
                <label for="experience-end-date-input-0">End Date</label>
                <input
                  type="text"
                  class="form-control"
                  id="experience-end-date-input-0"
                  name="experience-end-date-0"
                  placeholder="Enter end date (YYYY-MM-DD)"
                />
              </div>
            </div>
          </div>
          <!-- Add Experience Button -->
          <div class="d-flex justify-content-end mb-4">
          <button id="remove-experience-btn" class="btn btn-danger btn-sm mr-4">
            <i class="fas fa-minus"></i> Remove experience
          </button>
            <button id="add-experience-btn" class="btn btn-warning btn-sm">
              <i class="fas fa-plus"></i> Add experience
            </button>
          </div>
          <!-- Navigation Buttons -->
          <button
            class="btn btn-outline-danger btn-block"
            id="experience-back-btn"
          >
            Back
          </button>
          <button
            class="btn btn-outline-danger btn-block"
            id="experience-next-btn"
          >
            Next
          </button>
          <button class="btn btn-danger btn-block mt-2" id="download-resume-btn">
            Download Resume
          </button>

        </div>
        <!-- End Experience -->
        <!-- Projects -->
        <div class="d-none" id="project">
          <h4>Projects</h4>
          <button
            class="btn btn-outline-danger btn-block"
            id="project-back-btn"
          >
            Back
          </button>
          <button
            class="btn btn-outline-danger btn-block"
            id="project-next-btn"
          >
            Next
          </button>
        </div>
        <!-- End Projects -->
        <!-- Skills -->
        <div class="d-none" id="skill">
          <h4>Skills</h4>
          <button class="btn btn-outline-danger btn-block" id="skill-back-btn">
            Back
          </button>
          <button class="btn btn-outline-danger btn-block" id="skill-next-btn">
            Next
          </button>
        </div>
        <!-- End Skills -->
        <!-- Hobby -->
        <div class="d-none" id="hobby">
          <h4>Hobby</h4>
          <button class="btn btn-outline-danger btn-block" id="hobby-back-btn">
            Back
          </button>
          <input
            type="sumbit"
            class="btn btn-block btn-danger"
            value="Download Resume"
          />
        </div>
        <!-- End Hobby -->
      </form>
    </div>
    <div class="col-6">
      <h1>Resume</h1>
      <hr />
      <!-- We can change this to dynamically load a template -->
      {% include 'resume_templates/resume_1.html' %}
    </div>
  </div>
</div>
<script src="{% static 'js/single_page.js' %}"></script>
<script src="{% static 'js/resume_builder.js' %}"></script>
<script src="{% static 'js/contact_form.js' %}"></script>
<script src="{% static 'js/education_form.js' %}"></script>
<script src="{% static 'js/experience_form.js' %}"></script>
{% endblock content %}
