{% extends 'resume_builder/index.html' %}
<!---->
{% block content %} {% load static %} {% load crispy_forms_tags %}
<div class="container-fluid" style="max-width: 1440px">
  <div class="row">
    <div class="col-6">
      <h1>Enter Info</h1>
      <hr />
      <form action="{% url 'resume_form' %}" method="POST">
        {% csrf_token %}
        <!-- Contact Info -->
        <div id="contact-info">
          <h4>Contact Info</h4>
          {{contact_form|crispy}}
          <button
            class="btn btn-outline-danger btn-block"
            id="contact-next-btn"
          >
            Next
          </button>
        </div>
        <!-- End Contact Info -->
        <!-- Education -->
        <div class="d-none" id="education">
          <h4>Education</h4>
          {{education_form|crispy}}
          <input
            type="submit"
            class="btn btn-block btn-danger"
            value="Download Resume"
          />
        </div>
        <!-- End Education -->
      </form>
    </div>
    <div class="col-6">
      <h1>Resume</h1>
      <hr />
      <!-- We can change this to dynamically load a template -->
      {% include 'resume_templates/resume_1.html' %}
    </div>
  </div>
</div>
<script src="{% static 'js/resume_form.js' %}"></script>
{% endblock content %}
